.border-radius {
    border-radius: var(--border-radius);
}

.border-radius-less {
    border-radius: var(--border-radius-less);
}

.border-gold {
    border: 1px solid var(--color-gold);
}

.border-green {
    border: 1px solid var(--color-green);
}

.border-purple {
    border: 1px solid var(--color-purple);
}

.border {
    border: 1px solid var(--color-gray);
}